/* ===== Global ===== */
body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 0;
    transition: .4s;
}

.dark {
    background: #181818;
    color: white;
}

/* ===== Header ===== */
header {
    background: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h2{
    text-align: center;
}

.top-controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
}

/* Theme + History Buttons */
#toggleTheme,
#historyBtn {
    padding: 10px;
    background: #ff4757;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#toggleTheme:hover,
#historyBtn:hover {
    background: #e0323e
}

/* ===== Form Section ===== */
.form-section {
    text-align: center;
    padding: 20px;
}

form input {
    margin-bottom: 8px;
}

button {
    padding: 10px 14px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.05);
}

/* ===== Book List ===== */
.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.book-card {
    width: 220px;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    transition: .4s;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
}

.dark .book-card {
    background: #222;
    color: white;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%;
    height: 260px;
    border-radius: 8px;
    object-fit: cover;
}

/* Buttons inside card */
.borrow-btn {
    background: #0077ff;
}

.return-btn {
    background: #21c55d;
}

.delete-btn {
    background: #222;
    margin-top: 5px;
}

.filters {
    text-align: center;
    margin-top: 10px;
}

.filter-btn {
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

/* ===== Modal ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    width: 320px;
    border-radius: 10px;
}

.dark .modal-content {
    background: #333;
    color: white;
}