
* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 10;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    background:linear-gradient(rgb(35, 19, 71), rgb(36, 36, 57));
    color: white;
}

/* Header */
header {
    background: linear-gradient(rgb(35, 19, 71), rgb(36, 36, 57));
    color: rgb(245, 237, 237);
    text-align: left;
    padding: 18px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
     display: inline-block;
    margin-left: 20px;

}

nav a:hover {
    color: #f8e9c6;
    transition: 0.3s
}

/* Hero Section */
.hero {
    background: url(https://t4.ftcdn.net/jpg/14/89/75/67/240_F_1489756700_ubEmEMCbTs9k1yfyIJm5f6OneK1hO5Cq.jphttps://as2.ftcdn.net/v2/jpg/14/89/75/67/1000_F_1489756700_ubEmEMCbTs9k1yfyIJm5f6OneK1hO5Cq.jpg) center/cover no-repeat;
    text-align: center;
    color: white;
    padding: 80px 100px;
    width: 100%;
    height: 80%;
    animation: zoom 3s infinite alternate;
}
h2, h4 ,p {
padding: 5px;
}


@keyframes zoom {
    from {
        background-size: 100%
    }

    to {
        background-size: 100%
    }
}

.hero button {
    background: #36b8bf;
    padding: 12px 25px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: scale(1.1);
    background: #54a18b
}

/* Sections */
.section {
    text-align: center;
    padding: 60px 20px
}

/* Program Cards */
.programs-container {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding: 5% 5% 10%;
    flex-wrap: wrap;
    color:black;
}

.card {
    width: 300px;
    background: rgb(248, 245, 245);
    border-radius: 12px;
    padding: 20px;
    margin: 10px solid;
    box-shadow: 5 5 15px rgba(194, 10, 10, 0.1);
    transition: 0.4s;
    overflow: hidden;
}

.card img {
    width: 100;
    height: 180px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover img {
    transform: scale(1.15);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(223, 110, 110, 0.2)
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.gallery img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
    opacity: 0.9;
}

.gallery img:hover {
    transform: scale(1.1);
    opacity: 1
}

/* Donate Section */
.donate {
    background:url("https://thumbs.dreamstime.com/b/giving-money-hands-sharing-coin-donation-black-white-monochrome-two-hands-shown-one-donating-coins-to-another-s-hand-369543323.jpg?w=992") center/cover no-repeat;

    color: white
}

.donate button {
    background: #0a9ad3;
    padding: 12px 28px;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.donate button:hover {
    transform: scale(1.08);
    background: #54a18b
}

/* Form */
form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form textarea {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #f7f1f1;
}

form button {
    background: #51a8e6;
    color: white;
    padding: 12px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #227b70;
    transform: scale(1.08)
}

/* Fade-in Animation */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 1s
}

.fade.visible {
    opacity: 1;
    transform: translateY(0)
}

footer {
    background: #08090a;
    color: white;
    text-align: center;
    padding: 15px
}