body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Background Video */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(100%);
}

/* Player Box */
.player {
    width: 380px;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 40px rgba(255, 0, 180, 0.4);
    animation: fadeIn 1.5s ease-in-out;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(30px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    text-align: center;
    animation: popIn 1s ease-in-out;
}

/* Title Animation */
@keyframes popIn {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* Playlist Songs */
.song {
    padding: 8px;
    border-bottom: 1px solid #191515;
    cursor: pointer;
    opacity: 0;
    animation: slideIn 0.6s ease forwards;
}

/* Slide Animation */
@keyframes slideIn {
    from { transform: translateX(-40px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.song:hover {
    background: #817e81;
    transform: scale(1.03);
    transition: 0.3s;
}

button {
    padding: 10px 20px;
    border: none;
    background: #023303;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #cb63c4;
    transform: scale(1.1);
}

.playing {
    box-shadow: 0 0 20px rgba(255, 0, 150, 0.7);
    transition: 0.5s;
}

#progress {
    width: 100%;
    margin-top: 20px;
}

.volume-control {
    margin-top: 20px;
}
